
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.primary-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}

/* shared styles */


.btn{
    width: 164px;
    height: 44px;
    font-size: 16px;
    font-weight: 600px;
    background-color: #30B868;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    padding: 12px 16px;
    cursor: pointer;
   
}
.btn:hover{
    background-color: #28a85a;
   box-shadow: 0px 4px 15px rgba(5, 7, 8, 0.6);
    

}

/* main styles */

header{
    background-color: #FFFFFF;
    padding: 20px 120px;
}

nav{
    width: 100%;
    max-width: 1320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu{
    display: flex;
    gap: 40px;
    list-style: none;
    
}
nav a{
   text-decoration: none;
    color: #000000;
    font-size: 16px;
}