
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.primary-font {
  font-family: "Inter", sans-serif;
  
  
  
}

/* shared styles */


.btn{
    width: 164px;
    height: 44px;
    font-size: 16px;
    font-weight: 600px;
    background-color: #30B868;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    padding: 12px 16px;
    cursor: pointer;
   
}
.btn:hover{
    background-color: #28a85a;
   box-shadow: 0px 4px 15px rgba(5, 7, 8, 0.6); 
}

/* main styles */

header{
    background-color: #FFFFFF;
    padding: 20px 120px;
}

nav{
    width: 100%;
    max-width: 1320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu{
    display: flex;
    gap: 40px;
    list-style: none;
    
}
nav a{
   text-decoration: none;
    color: #000000;
    font-size: 16px;
    padding: 10px;
    border-radius: 8px;
}
nav a:hover{
    color: #ffffff;
    background-color: #001931;
    
    
}

/* banner */

#banner{
    background-image: url(./assets/hero-bg.png);
    padding: 120px ;
}
#banner .banner-content{
    width: 100%;
    max-width: 1320px;
}
#banner .banner-content .access{
    display: flex;
    align-items: center;
    gap: 3px;
    background-color: #FFFFFF;
    padding: 8px 16px;
    border-radius: 32px;
    font-size: 10px;
    margin: 0 auto;
    width: 180px;
    text-align: center;
    color: #30B868;
}
#banner .banner-content .access .dop{
    background-color: #19d862;
    border: 4px solid #11e05d;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}
#banner .banner-content h1{
    font-size: 58px;
    font-weight: 770;
    color: #ffffff;
    text-align: center;
    margin: 24px 0;
}

#banner .banner-content span{
    color: #11e05d;
}

#banner .banner-content p{
    font-size: 16px;
    width: 640px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 32px;
    line-height: 1.5;
    margin: 0 auto;
}

#banner .banner-content .banner-buttons{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 32px;
    font-size: 14px;
}
#banner .banner-content .banner-buttons .btn-primary i{
    margin-left: 5px;
}
.btn-primary{
    width: 224px;
    height: 44px;
    font-size: 16px;
    font-weight: 600px;
    background-color: #30B868;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    padding: 12px 16px;
    margin-bottom: 16px;
    cursor: pointer;
}
.btn-primary:hover{
    background-color: #28a85a;
   box-shadow: 0px 4px 15px rgba(5, 7, 8, 0.6); 
}
#banner .banner-content .banner-buttons .btn-secondary{
    width: 174px;
    height: 44px;
    font-size: 16px;
    font-weight: 600px;
    background-color: transparent;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 8px;
    padding: 12px 10px;
    cursor: pointer;
   
}


#banner .banner-content .banner-buttons .btn-secondary:hover{
    background-color: rgba(255, 255, 255, 0.2);
   box-shadow: 0px 4px 15px rgba(255, 255, 255, 0.6); 
}


/* notes section */

#notes{
    padding: 80px 120px;
}

.notes-content{
    width: 100%;
    max-width: 1320px;
}

.notes-content h1{
    font-size: 44px;
    font-weight: 600;
    color: #000000;
    text-align: center;
    
   
}

.notes-content p{
    font-size: 14px;
    width: 640px;
    color: #555555;
    text-align: center;
    margin-bottom: 32px;
    line-height: 1.5;
    margin: 24px auto 32px auto;
}

.notes-cards{
    display: flex;
    justify-content: space-around;
    margin: 46px 0 0 0;

}
.card{
    width: 280px;
    background-color: #F9F9F9;
    border-radius: 16px;
    box-shadow: 0px 27px 28px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.card .icon-box{
    width: 60px;
    height: 60px;
    margin-bottom: 16px;
    background-color: #F95555;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
}
.card h3{
    font-size: 20px;
    font-weight: 600;
    color: #000000;
    width: 260px;
    
}
.card p{
    width: 260px;
    font-size: 15px;
}

/* /* second-banner section */

#second-banner{
    padding: 40px 120px ;
}
#second-banner .second-banner-content{
    width: 100%;
    max-width: 1320px;
    display: flex;
    gap: 60px;
    
    
}
#second-banner .second-banner-content .image-box{
    width: 50%;
}
#second-banner .second-banner-content .second-banner-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 90px;
      
}
#second-banner .second-banner-content .second-banner-text h3{
    font-size: 16px;
    font-weight: 400;
    color: #30B868;
    margin-bottom: 24px;
    text-transform: uppercase;
}
#second-banner .second-banner-content .second-banner-text h1{
    font-size: 48px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 24px;
}
#second-banner .second-banner-content .second-banner-text .p-part{
    font-size: 16px;
    color: #627382;
    margin-bottom: 32px;
    line-height: 1.5;
}

#second-banner .second-banner-content .second-banner-text .p-part-span{
   display: flex;
    align-items: center;
    margin-bottom: 16px;
    font-weight: 400;
}
#second-banner .second-banner-content .second-banner-text img{
    
    margin-right: 10px;
}

/* challenge-section */

#challenge-section{
    background-color: #F9F9F9;
    padding: 40px 120px;
    
} 

.challenge-content{
    background-color: #F7F6F2;
    padding: 60px 80px;
    width: 100%;
    max-width: 1320px;
    text-align: center;


}
.challenge-content h1{
    font-size: 44px;
    font-weight: 600;
    color: #000000;
    margin: 0 auto 24px auto;
}
.challenge-content p{
    font-size: 16px;
    color: #627382;
    line-height: 1.5;
    width: 640px;
    margin: 0 auto 24px auto;
}
.challenge-content .btn-primary i{
    margin-left: 5px;
}
/* footer section */
#footer{
    background-color: #001931;
    padding: 80px 120px 20px 120px;
}
.footer-content{
    width: 100%;
    max-width: 1320px;
    display: flex;
    justify-content: space-between;
}
.footer-logo img{
    width: 150px;
}
.footer-content h2{
    color: #FFFFFF;
    font-size: 20px;
}

.footer-menu{
    display: flex;
    gap: 10px;
    margin: 16px 0 16px 0;
}
.footer-menu li{
    list-style-type: none;
    margin-bottom: 25px;
}
.footer-menu a{
    color: #FFFFFF;
    text-decoration: none;
}
.footer-menu a:hover{
    text-decoration: underline;
}
#footer hr{
    margin-top: 20px;
}
#footer p{
    color: #627382;
    font-size: 14px;
    line-height: 1.5;
    margin: 16px auto;
    text-align: center;
    
}