


.primary-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}

.box {
  border: 2px solid black;
  background-color: azure;
  padding: 20px;
  margin: 20px;
  text-align: center;
}